/config/craftpresence.properties
/scripts/nc_script_addons/
/.mixin.out/
/asm/
/backups/
/astralsorcery/
/betweenlands_gallery/
/cache/
/caches/
/craftpresence/
/crash-reports/
/config/gregtech/terminal/ore_prospector/
/config/thaumicjei_itemstack_aspects.json
/config/jei/worldSettings.cfg
/config/jei/bookmarks.ini
/usercache.json
/usernamecache.json
/mapfrontiers/
/fancymenu_setups/
/fonts/
/journeymap
/llibrary/
/local/
/logs/
/luxpacks/
/mods/
/mputils/
/natives/
/patchouli_books/
/resourcepacks/
/saves/
/shaderpacks/
/structures/
/TombManyGraves/
/BotaniaVars.dat
/config.bak.json
/config_new_temp.json
/crafttweaker.log
/OpenComputersMod-1.7.5.192-lua52-native.64.dll
/OpenComputersMod-1.7.5.192-lua53-native.64.dll
/patchouli_data.json
/concheckrmd
/roots.log
